.container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.paper {
  padding: 24px;
}

.avatar {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1;
  border-radius: 8px !important;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
